

html, body, #root {
    height: 100%;
}

body {
    background: rgb(190, 189, 189);
    -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
    font-family: 'Roboto Flex', sans-serif ;
}